#hero {
    padding: 0rem 3rem;
    min-height: 650px;
    display: flex;
    align-items: center;
}

.hero_text {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    gap: 3rem;
}

@media (max-width: 969px) {
    #hero {
        flex-direction: column;
        text-align: center;
    }
    
    .hero_text {
        padding-top: 4rem;
        align-items: center;
    }

    #dp {
        margin: 3rem 0rem;
    }

    /* .bold_style {
        white-space: nowrap;
    } */
}

@media (max-width: 800px) {   
    .hero_text {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

#dp {
    padding: 1rem;
    height: 400px;
    animation: animate 5s ease-in-out infinite;
    border-radius: 60% 47% 46% 54% / 62% 43% 57% 38%
}


@keyframes animate {
    0%, 100%{
        border-radius: 51% 49% 36% 54% / 54% 54% 46% 46%
    }
    50%{
        border-radius: 53% 47% 46% 54% / 62% 43% 57% 38%

    }
}

.linkdin_button {
    font-family: "Akshar", sans-serif;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 30px;
    white-space: nowrap;
    width: fit-content;
}

.search_icon {
    padding-right: 20px;
}
