.skill {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    margin: 0.25rem;
}

.skills_container {
    display: flex;
}

.experience {
    align-self: center;
}

.bullet {
    display: flex;
    gap: 5px;
}

.job {
    display: flex;
    gap: 2rem;
    padding: 1rem;
}

.box, .skills_container {
    display: flex;
}

.skills_container {
    padding: 3rem;
    justify-content: space-around;
}

.tech_skills_container {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.tech_skills_container {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}

.sub_header {
    align-self: flex-start;
}

@media (max-width: 950px) {
    .tech_skills_container {
        align-self: center; 
    } 

    .skills_container {
        flex-direction: column;
        align-self: center; 
    }

    .tech_skills_container, .experience {
        padding-top: 3rem;
        padding-bottom: 3rem;
    } 
}

/* Add this to your main container, likely the top-level div of your app or the specific component */
.main-container {
    position: relative; /* This creates a new positioning context for absolutely positioned children */
    overflow: hidden; /* This ensures that nothing spills outside the container */
    /* other styles */
  }
  
  /* Your existing styles for .grainy-background */
  .grainy-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; /* This ensures that the div covers the whole parent container */
    z-index: -1;
    /* other styles */
  }