@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 18 17 17;
    --primary-foreground: 243 242 231;

    --secondary: 47 47 47;
    --secondary-foreground: 232 230 209;

    --accent: 219 215 209;
    --accent-foreground: 18 17 17;
  }
}
