@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 18 17 17;
    --primary-foreground: 243 242 231;

    --secondary: 58 56 56;
    --secondary-foreground: 243 242 231;

    --accent: 122 130 125;
    --accent-foreground: 243 242 231;
  }
}
