#nav-li:hover {
    color: rgb(0, 42, 255);
}

#nav-li .active {
    color:rgb(123, 148, 123);
}

.linkdin_button {
    color: white;
    background-color: rgb(123, 148, 123);
}

#dp {
    border: 20px solid rgb(127, 145, 120); 
}

.project_description, .project_title, .mini_button, #project, .content{
    color:rgb(123, 148, 123);
}

.github_link {
	color: white;
	background-color:rgb(123, 148, 123);
}

.project_bar {
    background-color: rgb(242, 194, 194);
    border-bottom: 3px solid rgb(123, 148, 123);
}

.content {
    background-color: rgb(225, 230, 207);
}

#project {
    border-right: 10px solid rgb(127, 145, 120);
    border-bottom: 10px solid rgb(127, 145, 120);
}

.mini_button {
    color: rgb(89, 112, 89);
}

hr {
    background-color:  rgb(89, 112, 89);
}

.github_link {
    border-right: 5px solid pink;
    border-bottom: 5px solid pink;
}