.paragraph_style, .paragraph_mini  {
	font-family: "DM Sans", sans-serif;
	letter-spacing: 2px;
	font-size: 0.75rem;
	line-height: 20px; 
}

.paragraph_mini {
	letter-spacing: 0px;
	font-weight: 600;
}

.bold_style, .bold_mini, .job_title {
	text-transform: uppercase;
	font-weight: 500;
	font-family: "Akshar", sans-serif;
	letter-spacing: 2px;
	font-size: 5rem;
}
	

.bold_mini {
	font-size: 2rem;
}

.github_link {
	text-transform: uppercase;
	font-weight: 500;
	font-family: "Akshar", sans-serif;
	letter-spacing: 2px;
}

.job_title {
	font-size: 1rem;
}

.bold_mini.sub_header {
	font-size: 3rem;
	margin-bottom: 1rem;
	position: relative;
	left: 30px; 
	width: fit-content;
    padding: 0.5rem 1rem;
	color: rgb(116, 35, 11);
	/* border: 1px solid;
	border-radius: 15px;
	border-right: 3px solid;
	border-bottom: 3px solid; */
}
