.paragraph_style {
	font-family: "DM Sans", sans-serif;
	letter-spacing: 2px;
	font-size: 0.75rem;
	line-height: 20px; 
}

.bold_style {
	text-transform: uppercase;
	font-weight: 500;
	font-family: "Akshar", sans-serif;
	letter-spacing: 2px;
	font-size: 5rem;
}