#project {
    border: 2px solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.inner_content {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project_bar {
    border-top-left-radius: 15px;
    border-top-right-radius: 9px; 
}

.content {
    padding: 1rem;
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.project_footer {
	padding-top: 1rem;
	display: flex;
    justify-content: space-between;
}

#mini_button {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 0;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1px;
    border: none;
}

.techstack > * {
	padding-right: 10px;
	padding-bottom: 0px;
}

.techstack {
    justify-self: flex-start
}

.github_link {
    margin-left: 0.5rem;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 10px;
    white-space: nowrap;
    height: fit-content;
    justify-self: flex-end;
    align-self: flex-end;
    font-size: 0.6rem;
}

.content h2 {
    padding-bottom: 1rem;
}

#project {
    transition: transform 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
}

#project:hover {
    transform: scale(1.05);
}

.link_container {
    display: flex;
    align-items: center;
}

#web_link {
    border-radius: 55px; 
    padding: 0.2rem;
}